<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Morgan Logging Example - Rbaumann</title>

    <!-- Stylesheet - Bootstrap -->
      <!-- inlcude the bootstrap css, google fonts used on the page -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Source+Code+Pro:400,700" rel="stylesheet">
  </head>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark"></nav>
      <ul class="navbar-nav">
          <li class="nav-item active">
              <a href="#" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link">Contact Us</a>
          </li>
      </ul>
    </nav>
</html>

<div class="container" role="main">
  <br><br>
  <h2><%= Hello there! %></h2>
</div>
