
<!--
============================================
; Title: new.ejs
; Author: Reva Baumann
; Date: 05/28/2019
; Modified By: Reva Baumann
; Description: Footer
;===========================================
-->
<footer class="container">
    <p class="float"><a href="#">Top</a></p>
    <p>Justice League 2019</p>
</footer>