
<!--
============================================
; Title: new.ejs
; Author: Reva Baumann
; Date: 05/28/2019
; Modified By: Reva Baumann
; Description: Footer
;===========================================
-->
<br />
<footer>
    <p style="text-align: center">&copy; Employee Database</p>
</footer>