<!DOCTYPE html>
<html lang="en">
    <% include header %>
    <body>
        <% include navbar %>

        <h1>The Justice League</h1>

        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="container">
                        <h2>Diana Prince</h2>
                        <p class="title">Art Historian</p>
                        <p>Diana comes from a rich background in Art History and Antiquities, specializing in Greek Mythology.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Bruce Wayne</h2>
                    <p class="title">Philanthropist</p>
                    <p>Bruce's background in Non-Profits allows him to educate others on the best invenstments in the future and for other non-profits.</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Clark Kent</h2>
                    <p class="title">Journalist</p>
                    <p>Clark has great experience reporting on stories all over the world, he's active within the Journalism World and provides a unique scope on social justice.</p>
                </div>
            </div>
        </div>
        <% include footer %>
    </body>
</html>