
<!--
============================================
; Title: list.ejs
; Author: Reva Baumann
; Date: 05/28/2019
; Modified By: Reva Baumann
; Description: List Employee Details
;===========================================
-->

<!DOCTYPE html>
<html lang="en">
  <% include header %>

  <body>
    <% include navbar %>

    <div role="main" class="container col-md-6">
      <br /><br />
      <h2><%= title %></h2>
      <% if(employees && employees.length) { %>
      <h5><a href="new.ejs">Add New</a></h5>
      <!-- Test to see if the employees list exist and that it is an array-->
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Employee Record</th>
              </tr>
            </thead>
            <tbody>
              <!-- Employee information stored in database-->
              <% employees.forEach(function(employee){ %>
                <tr>
                  <td><%= employee.firstName %></td>
                  <td><%= employee.lastName %></td>
                  <td><a href="view.ejs"<%= employee._id %>" >VIEW</a></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <% } else{ %>
          <br><br>
          <p>No entries <a href="new.ejs">add one!</a></p>
        <% } %>
    </div>

    <% include footer %>
    <% include scripts %>
  </body>
</html>
