
<!--
============================================
; Title: list.ejs
; Author: Reva Baumann
; Date: 05/28/2019
; Modified By: Reva Baumann
; Description: List Employee Details
;===========================================
-->

<% include header %>
<% include navbar %>
<!-- BEGIN EMPLOYEE LIST -->
<div class="container">
    <h2 class="my-4"><%= title %></h2>
    <% if(employees.length) { %>
        <a class="btn btn-success my-4" href="/views/new.ejs">Add New</a>
        <table class="table table-striped table-hover border border-dark">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Functions</th>
                </tr>
            </thead>
            <tbody>
                <% employees.forEach(function(emp) { %>
                    <tr>
                        <td class="border border-dark"><%= emp.name %></td>
                        <td class="border border-dark">
                            <a href="/views/new.ejs"<%= emp.name %>" class="btn btn-success">
                                <i class="fa fa-eye fa-md"></i>&nbsp;&nbsp;VIEW
                            </a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <h3 class="my-4">No Entries!</h3>
        <a class="btn btn-success" href="/views/new.ejs">Add Employee</a>
    <% } %>
</div>
<% include footer %>
<% include scripts %>