<!DOCTYPE html>
<html lang=en>
    <% include header %>
    <% include navbar %>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Title</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Diana Prince</td>
                    <td>Art Historian</td>
                </tr>

                <tr>
                    <td>Bruce Wayne</td>
                    <td>Philanthropist</td>
                </tr>

                <tr>
                    <td>Clark Kent</td>
                    <td>Journalist</td>
                </tr>
            </tbody>
        </table>
    </div>
    <% include footer %>
    <% include scripts %>
</html>