
<!--
============================================
; Title: navbar.ejs
; Author: Reva Baumann
; Date: 05/28/2019
; Modified By: Reva Baumann
; Description: Navbar
;===========================================
-->

<!-- Navbar Details  s-->
<div class="bg-dark">
  <div class="container">
      <nav class="navbar navbar-expand-sm navbar-dark">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/views/view.ejs">View Employees</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/views/new.ejs">Add Employees</a>
              </li>
          </ul>
      </nav>
  </div>
</div>