
<!--
============================================
; Title: new.ejs
; Author: Reva Baumann
; Date: 05/28/2019
; Modified By: Reva Baumann
; Description: New Employee Detail
;===========================================
-->

<!DOCTYPE html>
<html lang="en">
    <% include header %>
    <body>
        <% include navbar %>
            <h2>New Employees</h2>
            <br />
            <p>Contracters seeking employment are to email rmbaumann@my365.bellevue.edu</p>

    </div>
        <% include footer %>
        <% include scripts %>
    </body>
</html>