
<!--
============================================
; Title: new.ejs
; Author: Reva Baumann
; Date: 05/28/2019
; Modified By: Reva Baumann
; Description: New Employee Detail
;===========================================
-->

<!DOCTYPE html>
<html lang="en">
  <% include header %>

  <body>
    <% include navbar %>

    <div role="main" class="container col-md-6">
      <br /><br />

      <h2><%= title %></h2>
      <form method="post" action="/process">
        <!-- Create form and include token for post -->
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="form-group">
          <label for="txtFirstName">First name</label>
          <input type="text" name="txtFirstName" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="txtLastName">Last name</label>
          <input type="text" name="txtLastName" class="form-control" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </div>

    </div>

    <% include footer %>
    <% include scripts %>
  </body>
</html>
