
<!--
============================================
; Title: View.ejs
; Author: Reva Baumann
; Date: 05/28/2019
; Modified By: Reva Baumann
; Description: Views
;===========================================
-->

<!DOCTYPE html>
<html lang="en">
  <% include header %>

  <body>
    <% include navbar %>
    <div role="main" class="container col-md-4">
      <br><br>
      <h2><%= title %></h2>
      <div class="form-group">
        <label for="txtFirstName">First name</label>
        <input type="text" name="txtFirstName" class="form-control" readonly value="<%= employee[0].firstName %>">
      </div>
      <div class="form-group">
        <label for="txtLastName">Last name</label>
        <input type="text" name="txtLastName" class="form-control" readonly value="<%= employee[0].lastName %>">
      </div>
      <p class="float-right">
        <a href="/">Ok</a>
      </p>

    <% include scripts %>
  </body>
</html>