
<!--
============================================
; Title: View.ejs
; Author: Reva Baumann
; Date: 05/28/2019
; Modified By: Reva Baumann
; Description: Views
;===========================================
-->

<!DOCTYPE html>
<html lang="en">
    <% include header %>
    <body>
        <% include navbar %>
        <div class="row"></div>
        <h2>Employees</h2>
        <li>Wonder Woman</li>
        <li>Batman</li>
        <li>Superman</li>
        <% include footer %>
        <% include scripts %>
    </body>
</html>