
<!--
============================================
; Title: View.ejs
; Author: Reva Baumann
; Date: 05/28/2019
; Modified By: Reva Baumann
; Description: Views
;===========================================
-->

<% include header %>
<% include navbar %>
<div role="main" class="container">
    <h2 class="my-4"><%= title %></h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Employee</h5>
            <hr>
            <p class="card-text my-4">Name: <strong><%= employee.name %></strong></p>
            <hr>
            <a href="/views/list.ejs" class="btn btn-primary">Back to List</a>
        </div>
    </div>
</div>
<% include footer %>
<% include scripts %>