<!-- include the header.ejs file -->
<% include header %>

<div role="main" class="container">
  <br/><br/>

  <!-- output the message from the view model -->
  <h2>Welcome to the <%= Contact %></h2>
</div>

<!-- include the footer.ejs file -->
<% include footer %>
