</body>

</html>
contact.ejs

<!-- Include Header -->>
<div role="main" class="container">
    <br/><br/>
    <h2>Welcome to the <%= Footer %>!</h2>
</div>

<!-- Include Footer -->
<% include footer %>
